["localhost:8000"
 ;
 ; Cetrocon - Staging
 ;
 "www.hc-casino.com"
 ;
 ; Cetrocon - Live
 ;
 "www.hallmarkcasino.com"
 "www.kittycatcasino.com"
 "www.luckynightcasino.com"
 "www.midastouchcasino.com"
 "www.planet9casino.com"
 "www.funclubcasino.com"
 "www.funclubcasino.mobi"
 "www.royalcasinolounge.com"
 "www.silveredgecasino.com"
 "www.silveredgecasino.mobi"
 "www.xoomcasino.com"
 "www.club7casino.com"
 "www.spinatra.com"]
